<div class = "align-content d-flex flex-wrap" style= "margin-right: 120px; justify-content: center">
  <br>
  <div class=" p-2" style="width: 200px;">
     <button type="button" class="btn btn-success" style="
     margin-left: 50%; width: 100%;">Réserver un dragon</button>
  </div>
  <div class = " p-2" style="width: 200px;">
    <button type="button" class="btn btn-warning" style="
     margin-left: 50%; width: 100%;">Créer un dragon</button>
  </div>
</div>

<br>
<br>
<h1>Mon Profil</h1>
<br>
<h3>Mes dragons</h3>

<div class = "d-flex flex-wrap" style = " justify-content: space-between;">
  <% @dragons.each do |dragon| %>
     <div class="card-dragon-image">
       <%= cl_image_tag dragon.photo.key, height: 300, class: "rounded-circle" ,width: 300, crop: :fill, gravity: :face %>
     </div>
  <% end %>
</div>
<br>
<br>
<br>
<h2> Mes réservations actuelles</h2>
<br>
<br>
<div class = "d-flex flex-wrap" style = "justify-content: space-evenly;">
  <% @bookings.each do |booking| %>
  <div class="card-group-bookings border border-dark">
    <div class="card-booking">
      <%= cl_image_tag booking.dragon.photo.key, height: 300, class: "rounded-pill" ,width: 300, crop: :fill, gravity: :face %>
      <div class="card-body">
        <h5 class="card-title"><%booking.dragon%></h5>
        <p class="card-text"><%booking.dragon.description%></p>
        <p class="card-text"><small class="text-muted">Date de début : <%= booking.start_date%></small></p>
        <p class="card-text"><small class="text-muted"> Date de fin: <%= booking.end_date%></small></p>
      </div>
   </div>
  </div>
  <% end %>
</div>
<br><br>
