.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.card-multi {
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border-radius: 2%;
}

.card-img {
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.card-index-body {
  padding: 16px;
}

// .container-profile {
//   display: flex;
// }

// .container-reserved {
//   overflow: hidden;
//   height: 800px;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   // display: grid;
//   align-items: center;
// }

// .card-reserved-profile {
//   display: flex;
//   width: 300px;
// }

// .card-img-profile {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .card-body-profile {
//   padding: 16px;
// }


// .card-product {
//   overflow: hidden;
//   height: 120px;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
// }

// .card-product img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .card-product h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-product p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

// .card-product .card-product-infos {
//   padding: 16px;
// }
