<div class="container dragon py-5 d-flex justify-content-center" >

    <div class="card-body">
      <h1>Réservation de <%= @booking.dragon.name%> en cours</h1>
          <%= cl_image_tag @booking.dragon.photo.key, height: 300, width: 400, class: "shadow-lg", crop: :fill %>
          <p> La demande vient dêtre envoyé à <%= @booking.dragon.owner.name %> </p>
      </div>

  </div>
</div>
