<div class="footer" style="background-color:#f1f1f1">
  <div class="footer-links">
    <a href="https://github.com/pc56"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/dragon.official/"><i class="fab fa-instagram"></i></a>
    <a href="https://fr-fr.facebook.com/AGHSCDragonHelico/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/DragonsOfficiel"><i class="fab fa-twitter"></i></a>
    <a href="https://fr.linkedin.com/company/groupe-dragon"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> by Céline, Denis, Pierre and Samy
  </div>
</div>
