<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("homepage-banner.jpg") %>);">
  <div class="container">
    <h1>Goûtez à la liberté avec <strong>DragonB</strong></h1>
    <p>Louez les plus beaux dragons et partez à l'aventure !</p>
      <div class="home-button">
        <%= link_to "Découvrir", dragons_path, class: "btn btn-success" %>
      </div>
  </div>
</div>

<div class="description-container">
  <p>DragonB est le premier site de location de dragons. Nous mettons en lien les fans des plus créatures de ce monde avec les possesseurs pour vivre de grandes aventures. Partir en voyage sur le dos de ces magnifiques montures, se balader au fil de l'eau, dans la nature ou bien encore partir guerroyer face à vos rivaux ou ennemis, tout cela devient possible grace à DragonB.</p>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/pc56"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/dragon.official/"><i class="fab fa-instagram"></i></a>
    <a href="https://fr-fr.facebook.com/AGHSCDragonHelico/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/DragonsOfficiel"><i class="fab fa-twitter"></i></a>
    <a href="https://fr.linkedin.com/company/groupe-dragon"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> by Céline, Denis, Pierre and Samy
  </div>
</div>

 <%# btn-lg rounded center-block text-lg-center %>
