<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("homepage-banner.jpg") %>);">
  <div class="container">
    <h1>Goûtez à la liberté avec <strong>DragonB</strong></h1>
    <p>Louez les plus beaux dragons et partez à l'aventure !</p>
      <div class="home-button">
        <%= link_to "Découvrir", dragons_path, class: "btn btn-success" %>
      </div>
  </div>
</div>

<div class="description-container">
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/pc56"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/dragon.official/"><i class="fab fa-instagram"></i></a>
    <a href="https://fr-fr.facebook.com/AGHSCDragonHelico/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/DragonsOfficiel"><i class="fab fa-twitter"></i></a>
    <a href="https://fr.linkedin.com/company/groupe-dragon"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Céline, Denis, Pierre and Samy
  </div>
</div>

 <%# btn-lg rounded center-block text-lg-center %>
