<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Goûtez à la liberté avec <strong>DragonB</strong></h1>
    <p>Louez les plus beaux dragons et partez à l'aventure !</p>
    <%= link_to "Découvrir", dragons_path, class: "btn btn-primary rounded center-block" %>
  </div>
</div>
