// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

.card-dragon {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-dragon > image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-dragon h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-dragon p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-dragon .card-dragon-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-dragon-infos .card-dragon-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
